* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.home-page-container {
    background-image: url('https://res.cloudinary.com/dmncvam5p/image/upload/v1746990754/home-wallpaper-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 20%;
    height: 500px;
    background-color: rgba(66, 2, 2, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-style: groove;
    border-radius: 5%;
}
.register-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: groove;
    
}
.register-container button {
    width: 50%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.651);
    color: rgb(252, 205, 205);
    cursor: pointer;
}
.register-container input {
    width: 75%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.61);
    font-weight: bolder;
    color: white;
}
.register-container button:hover {
    color: red;
    box-shadow: 0 12px 16px 0 rgba(87, 0, 0, 0.507), 0 17px 50px 0 rgba(133, 0, 0, 0.397);
}